body {
    background-image: url("https://static.hudl.com/users/prod/17633060_63eb795bb287427f8eb4c33cc462ac20.jpg");
    color: Light rgb(8, 81, 239);
    padding: 90px;
    font-family: Roboto, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: blueviolet);
    margin: 0 auto;
    display: flex;
    padding: 50px;
    margin-bottom: 90px;
}


h1 {
    display: flex;
    align-items: center;
    color: rgb(179, 248, 4);
    flex: 90;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 99;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: Times new roman;
    color: #720ef5;
}

/* main container area beneath menu */
main {
    background: rgb(64, 7, 198);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px blue;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}